ICMPv6 Neighbour Discovery should be allowed by default in drop/reject zones

[ICMPv6 Neighbour Discovery](https://tools.ietf.org/html/rfc4861) (ND) is an fundamental part of IPv6. Without ND, IPv6 cannot function, because the node running `firewald` cannot resolve the link-layer addresses of its on-link neighbours, and its on-link neighbours cannot resolve the link-local address of the node running `firewalld`.

The default router/gateway is for all practical purposes an on-link neighbour like any other. Thus, without ND, *all* IPv6 network traffic, in *both* directions, will end up being blackholed.

In other words, blocking ND accomplishes the exact same outcome for IPv6 as blocking ARP would accomplish for IPv4.

In an apparent admission that a layer-3 protocol without functioning layer-2 address resolution is of no use to anyone, `firewalld` allows ARP by default, even in zones with `DROP` or `REJECT` targets.

However, no corresponding exception appears to exist for ND. In order to make IPv6 functional on interfaces bound to zones with `DROP` or `REJECT` targets, the user must manually add extra rules to allow ND.

It is also worth noting that by blocking ND, the node running `firewalld` can potentially break the network for other unrelated nodes on the link, because it prevents the Duplicate Address Detection algorithm from working correctly. Even though inbound ND messages are blocked, the node can nevertheless potentially advertise its (duplicate) IPv6 address to other nodes on the link by transmitting unsolicited neighbour advertisements to the link.

From the documentation at https://firewalld.org/documentation/zone/predefined-zones.html, it seems apparent that the zone target is only meant to impact *inbound* traffic, while at the same time permitting outbound initiated traffic:

> drop
> 
> Any incoming network packets are dropped, there is no reply. Only outgoing network connections are possible.
> 
> block
> 
> Any incoming network connections are rejected with an icmp-host-prohibited message for IPv4 and icmp6-adm-prohibited for IPv6. Only network connections initiated within this system are possible.

However, as mentioned above, blocking layer-2 address resolution inevitably leads to outbound traffic being blocked as well. Thus the operational reality does not match the documentation.

`firewalld` should treat IPv4 and IPv6 consistently. This would mean a) changing it so that either ND is permitted regardless of zone target, or b) changing it so that ARP is blocked by default in in zones with `DROP` or `REJECT` targets.

My (strong) preference would be for option A, as a layer-3 protocol without functioning layer-2 resolution is rather pointless and extremely user-unfriendly.

In order to allow ND, the following ICMPv6 types must be accepted:

* Router Solicitation (Type 133)
* Router Advertisement (Type 134)
* Neighbor Solicitation (Type 135)
* Neighbor Advertisement (Type 136)
* Redirect (Type 137)

It would be acceptable to block Router Solicitations on interfaces with IPv6 forwarding disabled, i.e., where the node running `firewalld` is not acting as a router.

It would also be possible to add an additional match to the accept rules that that requires the `Hop Limit` field to be 255, cf [RFC 4861 section 11.2](https://tools.ietf.org/html/rfc4861#section-11.2). It would be redundant, as the kernel should already be performing this check, but it would not hurt to have it as a «defence in depth» measure.

(Note: this issue was spun off from a discussion #590.)

See also: https://serverfault.com/questions/769374/firewalld-blocks-ipv6-ignores-config/775153#775153

Another example: https://www.seimaxim.com/clients/knowledgebase/51/IPv6-does-not-work-when-interface-is-in-the-firewalld-drop-zone-in-Red-Hat-Enterprise-Linux-7.html

The current plan is to wait on [policy objects](https://github.com/orgs/firewalld/projects/1#card-25963208) to be implemented. Then firewalld can ship a default policy "allow-ipv6-support" that will use rich rules to allow the following ICMPv6: nd-advert, nd-solicit, router-advert, redirect. The policy will use a ingress zone of "ANY" and an egress zone of "HOST". As such it will apply for all ICMPv6 packets destined to the host from _any_ zone.